In [10]:
import IPython
ipython = IPython.get_ipython()
ipython.run_line_magic('load_ext', 'autoreload')
ipython.run_line_magic('autoreload', '2')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
from dotenv import load_dotenv
import sys, os, time

import pandas as pd
import numpy as np

from modules.database import DB
from modules.data_fetcher import DataFetcher
from modules.trading_env import TradingEnv

In [12]:
# Connect to database
load_dotenv()
DB_NAME = os.getenv("POSTGRES_DB")
DB_USER = os.getenv("POSTGRES_USER")
DB_PASS = os.getenv("POSTGRES_PASSWORD")
DB_HOST = os.getenv("POSTGRES_HOST")
DB_PORT = os.getenv("POSTGRES_PORT")


db = DB(DB_NAME, DB_USER, DB_PASS, DB_HOST, DB_PORT)
res = db.list_tables()
print(res)

[('stock_data',)]

In [13]:
# Fetch data
data_fetcher = DataFetcher(db)

# See format of data
test_ticker = "AAPL"
start_date = pd.to_datetime("2020-01-01")
end_date = pd.to_datetime("2021-01-01")
df = data_fetcher.fetch_stock_data(test_ticker, start_date, end_date)

print(df.head())
print(df.columns)

# Create table
stock_data_table_name = "stock_data"
db.drop_table(stock_data_table_name)
time.sleep(1)
print("Creating table") 
db.create_table_from_df(stock_data_table_name, df)

[*********************100%***********************]  1 of 1 completed

        Date Ticker      Close       High        Low       Open     Volume
0 2020-01-02   AAPL  72.716072  72.776598  71.466812  71.721019  135480400
1 2020-01-03   AAPL  72.009132  72.771760  71.783977  71.941343  146322800
2 2020-01-06   AAPL  72.582901  72.621639  70.876068  71.127858  118387200
3 2020-01-07   AAPL  72.241554  72.849231  72.021238  72.592601  108872000
4 2020-01-08   AAPL  73.403648  73.706279  71.943759  71.943759  132079200
Index(['Date', 'Ticker', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

Creating table

In [14]:
# Ingest data
tickers = ["AAPL", "MSFT", "GOOGL", "AMZN", "TSLA"]
start_date = pd.to_datetime("2015-01-01")
end_date = pd.to_datetime("2022-01-01")

for ticker in tickers:
    data_fetcher.ingest_stock_data_to_db(stock_data_table_name, ticker, start_date, end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [15]:
# Add RSI
for ticker in tickers:
    db.add_rsi_column(stock_data_table_name, ticker, 14)

In [16]:
# Test fetch
import time
before = time.time()
data = db.get_ticker_data(stock_data_table_name, "MSFT", limit=2000)
after = time.time()
print(f"Time taken: {after - before}")
print(data.head(25))
print(data.tail())

Time taken: 0.004533529281616211
         date ticker      close       high        low       open     volume  \
0  2015-01-02   MSFT  40.152470  40.719207  39.963559  40.066602   27913900
1  2015-01-05   MSFT  39.783249  40.126724  39.714552  39.817594   39673900
2  2015-01-06   MSFT  39.199333  40.143894  39.104876  39.826179   36447900
3  2015-01-07   MSFT  39.697384  39.894883  39.061953  39.482711   29114100
4  2015-01-08   MSFT  40.865196  41.002587  40.118134  40.143894   29645200
5  2015-01-09   MSFT  40.521721  41.062698  40.272702  40.882374   23944200
6  2015-01-12   MSFT  40.015083  40.822257  39.808999  40.719211   23651900
7  2015-01-13   MSFT  39.809013  41.139987  39.551406  40.332817   35270600
8  2015-01-14   MSFT  39.465527  39.705963  39.173571  39.465527   29719600
9  2015-01-15   MSFT  39.053356  39.826181  38.993248  39.688790   32750800
10 2015-01-16   MSFT  39.705959  39.740305  38.787155  38.907375   35695300
11 2015-01-20   MSFT  39.834766  40.058028  39.130638  39.757484   36161900
12 2015-01-21   MSFT  39.431183  39.620096  39.053359  39.448357   39081100
13 2015-01-22   MSFT  40.470215  40.478800  39.568588  39.826195   35898000
14 2015-01-23   MSFT  40.513142  40.693466  40.186837  40.667707   26211600
15 2015-01-26   MSFT  40.367146  40.470191  39.705955  40.358560   42525500
16 2015-01-27   MSFT  36.631836  37.095531  36.159556  36.880858  169164000
17 2015-01-28   MSFT  35.369545  36.743455  35.343785  36.700521   84507100
18 2015-01-29   MSFT  36.073689  36.168145  35.026085  35.146302   63585300
19 2015-01-30   MSFT  34.691196  35.704454  34.648259  35.678691   78004900
20 2015-02-02   MSFT  35.446842  35.524125  34.545215  34.854345   50352500
21 2015-02-03   MSFT  35.721638  36.005008  35.249357  35.747401   52082400
22 2015-02-04   MSFT  35.927700  36.245415  35.515528  36.013568   41614800
23 2015-02-05   MSFT  36.451519  36.614670  35.944890  36.254020   36548200
24 2015-02-06   MSFT  36.417179  36.743483  36.193920  36.649027   34616600

       rsi_14
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13  52.387315
14  52.692469
15  54.509156
16  36.663684
17  29.173460
18  25.865149
19  23.414353
20  29.632540
21  31.887472
22  34.129412
23  38.443991
24  34.544108
           date ticker       close        high         low        open  \
1758 2021-12-27   MSFT  333.793091  333.822331  326.950533  326.979773
1759 2021-12-28   MSFT  332.623383  335.118665  331.716900  334.475346
1760 2021-12-29   MSFT  333.305725  335.596295  331.093090  332.672133
1761 2021-12-30   MSFT  330.742188  334.455870  330.254827  333.266710
1762 2021-12-31   MSFT  327.818024  330.781153  327.359904  329.952664

        volume     rsi_14
1758  19947000  60.439179
1759  15661500  54.498890
1760  15042000  54.915494
1761  15994500  54.333896
1762  18000800  45.238818

In [ ]:
db.drop_nans(stock_data_table_name)
data = db.get_ticker_data(stock_data_table_name, "MSFT", limit=2000)
print(f"Time taken: {after - before}")
print(data.head(25))

In [ ]:
window_size = 10
simulation_length = 60
n_envs = 3
headers = ["close", "rsi"]

te = TradingEnv(db, stock_data_table_name, tickers, window_size, simulation_length, n_envs, headers)